[Unit]
Description=Run homelab backup twice a day

[Timer]
OnCalendar=*-*-* 00,12:00:00
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target
